<a href="https://colab.research.google.com/github/Hugodlst/edd_1310_2021/blob/master/6Octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
#String continuacion...

numeros_txt="   1, 2, 4, 7 , 5   , 35    , 15  , 12"
print(numeros_txt)
numeros_txt=numeros_txt.lstrip().split(',')
print(numeros_txt)

for j in range(len(numeros_txt)):
  numeros_txt[ j ] = int(numeros_txt[j].strip())

print(numeros_txt)


#funcion range
#range(inicio, stop, incremento )

print(range(1,10,2))
rango=range(1,10,2)

for x in rango:
  print(x)

rango = range(10)
for x in rango:
  print(x)

   1, 2, 4, 7 , 5   , 35    , 15  , 12
['1', ' 2', ' 4', ' 7 ', ' 5   ', ' 35    ', ' 15  ', ' 12']
[1, 2, 4, 7, 5, 35, 15, 12]
range(1, 10, 2)
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9

#Listas

- mutables
- se declaran con [ ]
- selector [ int ]
- pueden ser de cualquier tipo o mezclado

#Tuplas

- NO mutables
- Se declaran con ( )
- Selectos [ int ]

#Diccionarios

- Son mutables
- Son conjunto de pares llave:valor
- Equivalentes a los Objetos JSON de JavaScrip

#Conjuntos

- Representacion de la teoria de conjuntos

In [37]:
#Listas
frutas=["Pera", "Manzana", "Sandia", "Kiwi", "Naranja", "fresa"]
print(frutas)
cosas=["cuaderno", 2 , 3.1416 , True , False , ["Rojo","Azul"] ]
print(cosas)
frutas[5]="Fresa" #frutas[2] = frutas[5].capitalize()
print(frutas)

#Agregar a la lista
frutas.append("Aguacate") #append agrega al final de la lista alguna palabra
print(frutas)

frutas.insert(3, "Zarzamora") #inserta la pabra dspues de la señalada
print(frutas)

fecha=["06", "10","2020"] #06/10/2020 con la funcion "/"join
fecha1=["06", "10","2020"]
print(fecha)
fecha_str="/".join(fecha)
fecha1_str="-".join(fecha1)
print(fecha_str)
print(fecha1_str)

['Pera', 'Manzana', 'Sandia', 'Kiwi', 'Naranja', 'fresa']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Pera', 'Manzana', 'Sandia', 'Kiwi', 'Naranja', 'Fresa']
['Pera', 'Manzana', 'Sandia', 'Kiwi', 'Naranja', 'Fresa', 'Aguacate']
['Pera', 'Manzana', 'Sandia', 'Zarzamora', 'Kiwi', 'Naranja', 'Fresa', 'Aguacate']
['06', '10', '2020']
06/10/2020
06-10-2020

In [51]:
#Eleminar elementos

cosas=["cuaderno", 2 , 3.1416 , True , False , ["Rojo","Azul"] ]
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)
algo=cosas.pop()
print(cosas)

algo=cosas.pop(2)
print(cosas)
print(algo)

cosas.remove(2)
print(cosas)

#vaciar lista
cosas.clear()
print(cosas)

#ordenar listas
print(frutas)
frutas.sort()
print(frutas)

['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro', 'Lapiz']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro']
['cuaderno', 2, True, False, ['Rojo', 'Azul'], 'Libro']
3.1416
['cuaderno', True, False, ['Rojo', 'Azul'], 'Libro']
[]
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia', 'Zarzamora']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia', 'Zarzamora']

In [63]:
#slicing

cosas=["cuaderno", 2 , 3.1416 , True , False , ["Rojo","Azul"] ]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1])

numeros=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[7:12:1])

#Susttuir rebanadas

print(numeros)
numeros[8:13:]=[-2,-2]
print(numeros)

#Preguntar por existencia
print(-2 in numeros)
print(120 in numeros)

[True, False]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
de
[8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[1, 2, 3, 4, 5, 6, 7, 8, -2, -2, 14, 15]
True
False

#Listas Multidimensión

Listas dentro de listas

In [82]:
computadoras=["hp","Lenovo Legion","Mac Book Pro 17", "LG Gram"] #El espacio entre las palabras si cuenta
oss=["Windows 10", "Linux", "Android", "iOS"]

computo=[computadoras, oss]
print(computo[0])
print(computo[1])

print(computo[0][2])
print(computo[0][2][0:15])
print(computo[0][3][6: :-1])
print("Linux" in computo[1])

dbms=[ ["Mysql", "Open Source", False],["MS SQL Server", "de paga", True] ]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][0:16:1]) #Una pregunta... en si que indica eso, por que me imprime toda la ultima lista???
#Gracias por los comentarios

['hp', 'Lenovo Legion', 'Mac Book Pro 17', 'LG Gram']
['Windows 10', 'Linux', 'Android', 'iOS']
Mac Book Pro 17
Mac Book Pro 17
marG GL
True
[['hp', 'Lenovo Legion', 'Mac Book Pro 17', 'LG Gram'], ['Windows 10', 'Linux', 'Android', 'iOS'], [['Mysql', 'Open Source', False], ['MS SQL Server', 'de paga', True]]]
Mysql
['MS SQL Server', 'de paga', True]